<div class="container">
  <% @title="I\'m Bloggin\'" %>
  <h1>Create your awesome blog here.</h1>
  <pre>
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
    passion passion passion passion passion passion passion
  </pre>
</div>