<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p>
                <ul class="site-footer-list">
                    <li class=footer-item>
                        <%= "© #{Date.today.year} Bills, Inc" %>
                    </li>
                    <li class="footer-item">
                         Powered by <a href="https://github.com">mach1010</a>
                    </li>
                    <li class="footer-item">
                         <a href="https://tra.com">Privacy Policy</a>
                    </li>
                </ul>
            </p>
        </div>
    </nav>
</div>
