<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p>
                <ul class="site-footer-list">
                    <li class=footer-item>
                        <%= "© #{Date.today.year} Bills, Inc" %>
                    </li>
                    <li class="footer-item">
                         Powered by <a href="http://github.com/mach1010/sinatra_start">mach1010</a>
                    </li>
                    <li class="footer-item">
                        <a href="http://www.cdc.gov/mmwr/preview/mmwrhtml/m2e411a1.htm">HIPAA Notice</a>
                    </li>
                    <li class="footer-item">
                        <a href="http://www.google.com/policies/privacy/">Website Privacy Notice</a>
                    </li>
                </ul>
            </p>
        </div>
    </nav>
</div>
