<div id="announce" class="page-header">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <div class="america">
            <h3>America!</h3>
            We will be closed on July 4th and 5th!
        </div>
    </div>
</div>
