<div id="announce" class="page-header">
  <!--TODO pull from a map in a text file they can configure with stop and start datetimes-->
  <div id="holiday" class="america">
    <h1>We will be closed on July 4th and 5th!</h1>
  </div>
  
</div>