<!DOCTYPE html>
<html lang='en'>
<head>
  
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>sinatra-start-page</title>
    <link href="css/style.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></head>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
	
	<%= yield %>
	
</body>
</html>